html,
body {
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    background: #000000;
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}

div.input-time {
    margin-left: 0;
}